.searchContainer {
  display: flex;
  justify-content: center;
  padding-top: 0.8rem;
}

.searchBox {
  position: relative;
}

.searchButton {
  background-color: #000000;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 100%;
  border-radius: 6px;
  border: 1px solid #000000;
}
.searchInput {
  font-size: 1.2rem;
  height: 30px;
  border-radius: 10px;
  padding: 5px 30px 5px 10px;
  border: 1px solid #000000;
}

.searchInput:focus,
.searchButton:focus {
  outline: none;
  border: 1px solid #000000;
  box-shadow: 0 0 5px #f5eaef;
}
