.container {
  background: url("../../visuales/edit.jpg");
  color: white;
  height: 100vh;
  max-width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.botonContainer {
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}
.btn {
  margin: 0.5rem auto;
  border-radius: 6rem;
  font-size: 20px !important;
}

.containerTitle {
  grid-area: 1 / 1 / 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 13rem;
}

.backgroundInfo {
  margin: 0 auto;
  display: flex;
}

.infoContainer {
  margin: 0 3rem;
  border-radius: 1rem;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
}

.parrafo {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
}
.datepicker {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.infotitle {
  margin-top: 1rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 1.7rem;
}

@media screen and(max-width: 1400px) {
  .infotitle {
    font-size: 3rem;
  }
  .parrafo {
    font-size: 1.2rem;
  }
  .btn {
    height: 6rem;
    width: 15rem;
    font-size: 1.8rem;
  }
}
@media screen and(max-width: 1280px) {
  .infotitle {
    font-size: 2.8rem;
  }
  .btn {
    height: 5rem;
    width: 14rem;
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .container .backgroundInfo {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 4rem;
  }
  .btn {
    border: solid #ffffff 3px;
    height: 2rem;
    width: 8rem;
    font-size: 1rem;
  }
}
@media screen and(max-width: 444px) {
  .container .backgroundInfo {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container {
    background: #ffffff;
  }
  .title {
    text-align: center;
    font-size: 2.7rem;
  }
  .infotitle {
    font-size: 2.2rem;
  }
  .parrafo {
    font-size: 1.3rem;
  }
  .datepicker {
    width: 17rem;
  }

  .btn {
    display: block;
    border: solid #ffffff 3px;
    height: auto;
    width: auto;
    font-size: 1rem;
  }
}
