.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  height: 100%;
  margin: 4rem auto;
  background: rgb(8, 153, 23);
  border-radius: 10px;
}

.btn {
  margin: 1rem;
}
