.container {
  box-shadow: 0 15px 30px 1px grey;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  margin: 1rem auto;
  height: 400px;
  width: 750px;
}

.imgcontainer {
  // display: inline-block;
  position: relative;
  overflow: hidden;
  height: 100%;
  float: right;
  width: 45%;
}

.img {
  width: 100%;
  height: 100%;
}

.info {
  color: #000000;
}
.info p {
  font-size: 1.5rem;
  font-weight: 450;
  text-align: center;
  color: #000000;
}

.selectContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.select {
  margin-bottom: 1em;
  padding: 0.25em;
  border: 0;
  border-bottom: 2px solid currentcolor;
  font-weight: bold;
  letter-spacing: 0.15em;
  border-radius: 0.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #000000;
  display: block;
  border-radius: 0.5rem;
  color: #ffffff;
  text-align: center;
  padding: 0.6rem 1.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
  border: none;
}
@media (min-width: 768px) {
  .button {
    display: inline-block;
  }
}
.button:hover {
  cursor: pointer;
}
