.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  justify-content: center;
}
.containerGrid {
  width: 80%;
  height: 95%;
  margin: 50px auto;
  padding-bottom: 5rem;
  border-radius: 1rem;
}

.titulo {
  text-align: center;
  color: black;
}
