.image {
  background-image: url("../../visuales/fulbolHome.jpg");
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.fondo {
  width: 80%;
  height: 95%;

  margin: auto auto;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.5);
}

/* height: 100vh;
max-width: 100%;
position: relative;
background-repeat: no-repeat;
background-size: cover; */
