.header {
  background-color: #000000;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.logoContainer {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.logo {
  height: 150px;
}
.menuHamburguesa {
  display: flex;
  justify-content: left;
  align-content: flex-end;
  align-items: flex-end;
}
.login {
  display: flex;
  justify-content: right;
  align-content: flex-start;
  align-items: flex-start;
  margin: 0.6rem 1rem;
}
@media (max-width: 768px) {
  .logo {
    height: 100px;
  }
  .login {
    margin: 0;
  }
}
