.navbar {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 7px;
  grid-row-gap: 0px;
  background-color: #000000d0;
  width: 100%;
  height: 7rem;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: right;
  list-style: none;
  margin-right: 15%;
}

a {
  margin: 15px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.columnlogo {
  display: flex;
  grid-area: 1 / 5 / 2 / 6;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.columnmenu {
  grid-area: 1 / 1 / 2 / 2;
}
.columnsesion {
  align-items: center;
  grid-area: 1 / 9 / 2 / 10;
  justify-content: center;
  display: flex;
  text-align: center;
}
.logo {
  height: calc(100%);
}
.columncontacto {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  grid-area: 1 / 8 / 2 / 9;
}
.columnequipo {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  grid-area: 1 / 4 / 2 / 5;
}

.columnhome {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  grid-area: 1 / 2 / 2 / 3;
}

.columncanchas {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  grid-area: 1 / 3 / 2 / 4;
}
.title {
  color: white;
  text-decoration: underline;
  font-size: 1.2rem;
}
