@import "../../scss/base/variables.scss";

.navLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 6rem;
}

.navBg {
  background-color: $black;
}
.navegacion {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .navegacion {
    flex-direction: row;
    justify-content: space-between;
  }
}
.navegacion .navLink {
  padding: 1rem 0;
  color: $white;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
}
.navegacion .navLink:hover {
  background-color: #252525;
  color: #cebebe;
}
.navegacion .navLink:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .navegacion .navLink {
    margin-bottom: 0;
    margin-left: 0;
  }
}
.contenedor {
  margin: 0 auto;
  max-width: 1200px;
}
