.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 40px;
  padding: 40px;
  justify-content: center;
}
.containerGrid {
  width: 80%;
  height: 95%;
  margin: 50px auto;
  padding-bottom: 5rem;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.5);
}
